<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WorldoMeters Test Automation Test Suite">

    <listeners>
        <listener class-name="listeners.ExtentReportsListener" />
    </listeners>


    <test name="WorldoMeter App Test Cases">
        <classes>
            <!-- class name="tests.CoronaVirusTest"></class -->

            <class name="tests.SanityTest"></class>



        </classes>
    </test>
</suite>